$cBackground: RGBA(0, 0, 0, 0.125);
$cBackground-dark: RGBA(0, 0, 0, 0.25);
$cBackground-darker: RGBA(0, 0, 0, 0.625);
$cPrimary: #8e7399;
$cPrimaryAccent: lighten($cPrimary, 30%);
$cSecondary: #739167;
$cAlert: #af556f;
$wSmall: 950px;
$wMedium: 1050px;
$wLarge: 1600px;
